
<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/csvc.css">
<link rel="stylesheet" href="/css/event.css">
<link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
        integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
        crossorigin="anonymous"
        referrerpolicy="no-referrer"
>

{{>header}}

<div class="container-fluid my-4" style="width: 80%">
    <h2 class="my-4" style="color: red;">Thông tin sự kiện</h2>
    <div class="col-3 mb-1">
        <a href="/admin/event" style="text-decoration: none;">
            <div class="container-fluid btn-option" style="width: 55%">Quay lại</div>
        </a>
    </div>
    <form action="/admin/event/{{event._id}}/update" method="post" enctype="multipart/form-data">
    <div class="row">
        <div class="col-7">
            <div class="row">
                <div class="col-4">
                    <div class="label">
                        Tên sự kiện
                        <span></span>
                        <small></small>
                    </div>
                    <div class="label">
                        Thời gian bắt đầu
                        <span></span>
                        <small></small>
                    </div>
                    <div class="label">
                        Thời gian kết thúc
                        <span></span>
                        <small></small>
                    </div>
                    <div class="label">
                        Số lượng mã
                        <span></span>
                        <small></small>
                    </div>
                    <div class="label">
                        Thông tin chi tiết
                        <span></span>
                        <small></small>
                    </div>
                </div>
                <div class="col-8">
                    <div class="form-control">
                        <input type="text" class="infor" disabled name="name" value="{{event.name}}" required>
                        <span></span>
                        <small></small>
                    </div>
                    <div class="form-control">
                        <input type="date" class="infor" disabled name="startDate" value="{{toString event.startDate}}" required>
                        <span></span>
                        <small></small>
                    </div>
                    <div class="form-control">
                        <input type="date" class="infor" disabled name="endDate" value="{{toString event.endDate}}" required>
                        <span></span>
                        <small></small>
                    </div>
                    <div class="form-control">
                        <input type="number" class="infor" disabled name="numberOfDiscountCode" value="{{event.numberOfDiscountCode}}" required>
                        <span></span>
                        <small></small>
                    </div>
                    <div class="form-control">
                        <input type="text" class="infor" disabled name="eventInfo" value="{{event.eventInfo}}" required>
                        <span></span>
                        <small></small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="img-upload" style="margin-top: 20px;">
                <label for="input-img" class="preview" id="preview">
                    <img id="img" class="img-upload" src="{{event.imageUrl}}" alt="anh bi loi">
                    <i class="fas fa-cloud-upload-alt"></i>
                    <span>Tải lên ảnh</span>
                </label> 
                <input type="file" class="infor" hidden id="input-img" name="image" disabled>
            </div>
        </div>
    </div>
    <div class="row" id="page1">
        <div class="col">
            <div class="container-fluid btn-option" id="update" style="width: 50%">Sửa thông tin</div>
            <div class="container-fluid hide" id="save" style="width: 56%">
                <input type="submit" value="Lưu thông tin">
            </div>
        </div>
        <div class="col">
            <div class="container-fluid btn-option open-modal-btn" data-toggle="modal" 
                data-target="#exampleModal" id="delete" style="width: 50%">Xóa sự kiện</div>
            <div class="container-fluid btn-option hide" id="back" style="width: 50%">Quay lại</div>
        </div>
    </div>
    </form>
</div>

<script>
    const inputImg1 = document.querySelector('#input-img')

    inputImg1.addEventListener('change', (e) => {
        let file = e.target.files[0];

        if (!file) return;

        document.querySelector("#img").src=URL.createObjectURL(file)
        //let img = document.createElement('img');
        //img.src = URL.createObjectURL(file);
        //img.classList.add('img-upload');

        //document.querySelector('#preview').appendChild(img); 
    })
</script>

<script>
    const updateBtn = document.querySelector('#update');
    const deleteBtn = document.querySelector('#delete');
    const saveBtn = document.querySelector('#save');
    const backBtn = document.querySelector('#back');
    const infor = document.querySelectorAll('.infor');

    updateBtn.addEventListener('click', function() {
        updateBtn.classList.add('hide');
        deleteBtn.classList.add('hide');
        saveBtn.classList.remove('hide');
        backBtn.classList.remove('hide');
        for(var i = 0; i < 6; i++) {
            infor[i].removeAttribute("disabled");
        }
    })

    backBtn.addEventListener('click', function() {
        updateBtn.classList.remove('hide');
        deleteBtn.classList.remove('hide');
        saveBtn.classList.add('hide');
        backBtn.classList.add('hide');
        for(var i = 0; i < 5; i++) {
            infor[i].disabled = true;
        }
    })
</script>

    {{!-- modal --}}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa sự kiện</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc chắn muốn xoá sự kiện này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <a href="/admin/event/{{event._id}}/delete" style="text-decoration: none;">
                    <button type="submit" class="btn btn-danger" >Xóa</button>
                </a>
            </div>
        </div>
    </div>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

{{>footer}}
