{{> header}}

<div class="container">
    <h4  style="text-align: center;" class="">DANH SÁCH MẶT HÀNG</h4>
    <button onclick="location.href='/admin/banhang/themmathang'" style="background-color: #C43030; color: white; margin-top: -15px; margin-left: -15px" class="btn mb-3">THÊM MẶT HÀNG</button>
    <div>
        <label for="myInput">Tìm mặt hàng</label>
        <input type="text" class='form-control mb-5' id="myInput" onkeyup="myFunction()" placeholder="Tên mặt hàng ...">
    </div>
    <div class="row">
        <table id="productTable" class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Tên mặt hàng</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Số lượng còn lại</th>
                <th scope="col">Chức năng</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                    <tr>
                    <th scope="row">{{sum @index 1}}</th>
                    <td>{{this.name}}</td>
                    <td>{{this.price}}</td>
                    <td>{{this.quantity}}</td>
                    <td><button class="btn btn-success" type="submit" onclick="location.href='/admin/banhang/quanlymathang/{{this._id}}'">Chi tiết</button></td>
                    </tr>
                {{else}}
                    <tr>
                        <td colspan="5" style="text-align: center;">
                            Bạn chưa có mặt hàng nào. <a href="/admin/banhang/themmathang">Thêm mặt hàng mới</a>
                        </td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
{{> footer}}

<script>
    function myFunction() {
        // Declare variables
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("productTable");
        tr = table.getElementsByTagName("tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>