<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/cart.css">
{{>header}}

<script>
    productList = []
</script>

<div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
    <div class="modal-header">
        <h5 style="margin-left: 350px" class="modal-title" id="exampleModalLabel">Giỏ hàng</h5>
    </div>
    <div style="width: 800px;" class="modal-body">
        <table id="table" class="table">
            <thead class="thead-dark">
                <tr>
                <th scope="col">#</th>
                <th scope="col">Tên mặt hàng</th>
                <th scope="col">Số lượng</th>
                <th scope="col">Đơn giá</th>
                <th scope="col">Thành tiền</th>
                </tr>
            </thead>
            <tbody id="myTable">
                

                {{#each products}}
                    
                    <tr>
                    <th scope="row">1</th>
                    <td>{{this.name}}</td>
                    <td>{{lookup ../orderInfo this._id }}</td>
                    <td>{{this.price}}</td>
                    <td class="sumPrice">{{_mul (lookup ../orderInfo this._id) this.price}} VNĐ</td>
                    </tr>

                    <script>
                
                        productList.push({
                            id: '{{this._id}}',
                            quantity: '{{lookup ../orderInfo this._id }}',
                        })

                        console.log(productList)

                    </script>

                {{/each}}
            </tbody>
        </table>

        <div style="text-align: center;">
            <h4 id="totalPrice">Tổng số tiền: 0</h4>
            <div class="row justify-content-center">
                <label for="inputPassword" class="col-form-label">Số điện thoại</label>
                <div class="col-sm-3">
                    <form style="position: relative;" id="checkVipForm" method="POST" action="/admin/banhang/kiemtravip">
                        <input style="width: 150px;" type="text" class="form-control" id="phoneNumInput">
                    </form>

                    <form id="orderForm" action="/admin/banhang/taodonhang" method="POST" hidden>
                    </form>
                    <button style="position: absolute; top: 0; right: -120px;" class="btn btn-info" id="checkPhoneNumButton">Kiểm tra SĐT</button>
                </div>
            </div>
        </div>
        {{#if error}}
            <p style="text-align: center; color: red; margin-top: 10px;">{{{message}}}</p>
        {{/if}}

        {{#if isVip}}
            <div style="margin-top: 15px; margin-left: 275px" id="vipInformation">
                <h5>Thông tin khách hàng VIP</h5>
                <p>Họ và tên: {{vipInfo.name}}</p>
                <p>Số điện thoại: {{vipInfo.phoneNumber}}</p>
                <p>Điểm tích lũy: {{vipInfo.points}}</p>
                <label for="usePoints">Số điểm sử dụng: </label>
                <input id="usePointsInput" type="text" name="usePoints" id="usePoints">
            </div>

        {{/if}}

        {{#if isVipError}}
            <p style="text-align: center; color: red; margin-top: 10px;">{{{vipErrorMessage}}}</p>
        {{/if}}
    
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="location.href='/admin/banhang'">Hủy hóa đơn</button>
        <button type="submit" class="btn btn-success" id="makePaymentButton" form="orderForm">Thanh toán</button>
    </div>
    </div>
</div>

<script>

    console.log(`{{message}}`)
    
    let totalPrice = 0;
    const sumPriceList = document.getElementsByClassName("sumPrice")
    const totalPriceH4 = document.getElementById("totalPrice")
    const makePaymentBtn = document.getElementById("makePaymentButton")
    const checkPhoneNumBtn = document.getElementById("checkPhoneNumButton")
    const orderFormData = document.getElementById("orderForm")
    const usePointsInput = document.getElementById("usePointsInput")
    const checkVipForm = document.getElementById("checkVipForm")
    const phoneNumberInput = document.getElementById("phoneNumInput")
    
    for(let i = 0 ; i < sumPriceList.length ; i++) {
        totalPrice += parseInt(sumPriceList[i].textContent)
    }
    
    totalPriceH4.innerHTML = `Tổng số tiền: ${totalPrice} VNĐ`

    checkPhoneNumBtn.addEventListener("click", function() {
        checkVipForm.innerHTML += `<input type="hidden" name="phoneNumber" value="${phoneNumberInput.value}">`
        for(let i = 0 ; i < productList.length ; i++) {
            const input = `<input type="hidden" name="${productList[i].id}" value="${productList[i].quantity}">`
            checkVipForm.innerHTML += input
        }
        console.log(phoneNumberInput.value)
        checkVipForm.submit()
    })
    console.log('productList: ' + productList.length)

    console.log(orderFormData)
    makePaymentBtn.addEventListener("click", function() {
        var vip = JSON.stringify({{isVip}})
        console.log(vip)
        for(let i = 0 ; i < productList.length ; i++) {
            const input = `<input type="hidden" name="${productList[i].id}" value="${productList[i].quantity}">`
            orderFormData.innerHTML += input
        }
        if(vip) {
            orderFormData.innerHTML += `<input type="hidden" name="vipId" value="{{vipInfo._id}}">`
            orderFormData.innerHTML += `<input type="hidden" name="usePoints" value="${usePointsInput.value}">`
        }
        console.log(orderFormData)
        orderFormData.submit()
    })

</script>


{{!-- <div class="container-fluid my-4" style="width: 80%">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th style="width: 17%; text-align: center;">Sản phẩm</th>
                <th style="width: 25%"></th>
                <th style="width: 21%; text-align: center;">Số lượng</th>
                <th style="width: 14%; text-align: center;">Đơn giá</th>
                <th style="width: 15%; text-align: center;">Thành tiền</th>
                <th style="width: 8%"></th>
                
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">
                    <a class="thumbnail pull-left" href="#"> <img class="media-object" src="http://icons.iconarchive.com/icons/custom-icon-design/flatastic-2/72/product-icon.png" style="width: 80%"> </a>
                </th>
                <td>
                    <h3>Áo</h3>
                    <p>Size: L</p>
                </td>
                <td style="text-align: center;">
                    <div class="number-input" style="width: 80%;">
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" ></button>
                        <input class="quantity" min="1" name="quantity" value="1" type="number" disabled>
                        <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus"></button>
                    </div>
                <td style="text-align: center;">@mdo</td>
                <td style="text-align: center;">@mdo</td>
                <td>
                    <a href="">
                        <span class="badge badge-danger">
                            <i class="ti-trash" style="font-size: 20px;"></i>
                        </span>
                    </a>
                </td>
            </tr>
            
        <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td><h3>Tổng</h3></td>
            <td class="text-right"><h3><strong>$31.53</strong></h3></td>
        </tr>
        <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td><h5>Số điện thoại</h5></td>
            <td class="text-right">
              <input type="text">
            </td>
        </tr>
        <tr>
            <td>   </td>
            <td>   </td>
            <td>   </td>
            <td>
            <button type="button" class="btn btn-secondary">
                Tiếp tục mua sắm
            </button></td>
            <td>
            <button type="button" class="btn btn-danger">
                Thanh toán 
            </button></td>
        </tr>
        </tbody>
    </table>
</div>

<script>

</script> --}}
<!--
<div class="head">GIỎ HÀNG</div>
<div class="container-fluid giohang">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col">Mặt hàng</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Thành tiền</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
</div>
<div class=" row nhapsdt">
  <div class="col col-half mt-50 sdt">Số điện thoại</div>
  <div class="col col-half mt-50">
    <input type="text">
  </div>
</div>
<div class="row tongsotien">
  <div class="col col-half mt-50 sotien">Tổng số tiền:</div>
  <div class="col col-half"></div>
</div>
<div class="row">
  <div class="col col-half">
    <input class="mt-50 huythanhtoan" type="submit" value="HỦY THANH TOÁN">
  </div>
  <div class="col col-half">
    <input class="mt-50 thanhtoan" type="submit" value="THANH TOÁN">
  </div>
</div>  
-->
{{>footer}}