{{> header}}

<div class="container">

    <h4 style="margin-top: -30px; text-align: center;">THÔNG TIN HÓA ĐƠN</h4>
    <table id="table" class="table">
        <thead class="thead-dark">
            <tr>
            <th scope="col">#</th>
            <th scope="col">Tên mặt hàng</th>
            <th scope="col">Số lượng</th>
            <th scope="col">Đơn giá</th>
            <th scope="col">Thành tiền</th>
            </tr>
        </thead>
        <tbody id="myTable">
            

            {{#each products}}
                
                <tr>
                <th scope="row">1</th>
                <td>{{this.name}}</td>
                <td>{{lookup ../orderInfo this._id }}</td>
                <td>{{this.price}}</td>
                <td class="sumPrice">{{_mul (lookup ../orderInfo this._id) this.price}}</td>
                </tr>

            {{/each}}
        </tbody>
    </table>

    <h5 style="text-align: center;">Số tiền được giảm: {{discount}} VNĐ</h5>
    <h5 style="text-align: center;">Tổng đơn hàng: {{totalPrice}} VNĐ</h5>

    <button style="margin-left: 475px;" type="button" class="btn btn-success mb-3" data-dismiss="modal" onclick="location.href='/admin/banhang'">Quay lại cửa hàng</button>
</div>


{{> footer}}