<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{{>header}}
    <div class="container">
        <h2 class="text-danger">Chi tiết CSVC: </h2>

        <hr>
        <div class="container row mx-auto">
            <div class="col-6 offset-3 card bg-light">
                <img class="card-img-top rounded-circle" src="{{csvc.imageUrl}}"></img>
                <hr>
                <div class="card-body text-info font-italic">
                    <h2 class="card-title mb-3"><b>Name : </b>{{csvc.name}}</h2>
                    <h2 class="card-subtitle mb-3"><b>Code : </b>{{csvc.code}}</h2>
                    <h2 class="card-subtitle mb-3"><b>Status : </b>{{csvc.status}}</h2>
                </div>
                <hr>
                <div class="d-flex justify-content-end row mb-3">
                    <a href="/admin/khuvuichoi/{{id}}" class="btn btn-secondary col-2 mr-3 rounded-pill">Back</a>
                    <a href="/admin/khuvuichoi/{{id}}/{{csvc._id}}/delete" class="btn btn-danger col-2 mr-3 rounded-pill">Delete</a>
                    <a href="/admin/khuvuichoi/{{id}}/{{csvc._id}}/edit" class="btn btn-success col-2 mr-2 rounded-pill" >Edit</a>
                </div>
            </div>

        </div>
    </div>



{{>footer}}
