<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/csvc.css">

{{>header}}
    <div class="container">
        <form method="post" action="/admin/vip/{{khvip._id}}/update">
            <div class="container-fluid my-4" style="width: 70%">
                <h2 class="my-4" style="color: red;">CHI TIẾT KHÁCH HÀNG VIP</h2>
                    <div class="row">
                        <div class="col-3">
                            <div class="label">
                                Tên khách hàng
                                <span></span>
                                <small></small>
                            </div>
                            <div class="label">
                                Số điện thoại
                                <span></span>
                                <small></small>
                            </div>
                            <div class="label">
                                Địa chỉ
                                <span></span>
                                <small></small>
                            </div>
                            <div class="label">
                                Email
                                <span></span>
                                <small></small>
                            </div>
                            <div class="label">
                                Điểm tích luỹ
                                <span></span>
                                <small></small>
                            </div>
                            <div class="label">
                                Số ngày còn lại
                                <span></span>
                                <small></small>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="form-control">
                                <input type="text" class="infor" name="name" disabled value="{{khvip.name}}">
                                <span></span>
                                <small></small>
                            </div>
                            <div class="form-control">
                                <input type="text" class="disabled-infor" name="phoneNumber" disabled value="{{khvip.phoneNumber}}">
                                <span></span>
                                <small></small>
                            </div>
                            <div class="form-control">
                                <input type="text" class="infor" name="address" disabled value="{{khvip.address}}">
                                <span></span>
                                <small></small>
                            </div>
                            <div class="form-control">
                                <input type="text" class="disabled-infor" name="email" disabled value="{{khvip.email}}">
                                <span></span>
                                <small></small>
                            </div>
                            <div class="form-control">
                                <input type="text" class="infor" name="points" disabled value="{{khvip.points}}">
                                <span></span>
                                <small></small>
                            </div>
                            <div class="form-control">
                                <input type="text" class="infor" name="remainTime" disabled value="{{remainTime}}">
                                <span></span>
                                <small></small>
                            </div>
                        </div>
                    </div>
            </div>      

            <div class="row mb-2" id="page1">
                <div class="col-4">
                    <a href="/admin/vip" style="text-decoration: none;">
                        <div class="container-fluid btn-option" id="back" style="width: 60%">Quay lại</div>
                    </a>
                </div>
                <div class="col-4">
                    <div class="container-fluid btn-option" id="update" style="width: 60%">Sửa thông tin</div>
                </div>
                <div class="col-4">
                    <div class="container-fluid btn-option open-modal-btn" id="delete" data-toggle="modal" data-target="#exampleModal" style="width: 60%">Xoá khách hàng</div>
                </div>
            </div>

            <div class="container-fluid hide mb-2" id="save" style="width: 40%; text-align: center;">
                <input type="submit" value="Lưu thông tin" style="width: 80%;"></input>
            </div>
        </form>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa khách hàng vip</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có muốn xoá khách hàng này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
                <button type="submit" class="btn btn-danger" form="deleteForm">Xóa</button>
            </div>
            </div>
        </div>
        <form id="deleteForm" method="post" action="/admin/vip/{{khvip._id}}/delete" type="hidden"></form>
    </div>

    <script>
        const updateBtn = document.querySelector('#update');
        
        const saveBtn = document.querySelector('#save');
        
        const page1 = document.querySelector('#page1');

        const infor = document.querySelectorAll('.infor');

        updateBtn.addEventListener('click', function() {
            page1.classList.add('hide');
            saveBtn.classList.remove('hide');
            for(var i = 0; i < 5; i++) {
                infor[i].removeAttribute("disabled");
            }
        })
    </script>
<!--
    <div style="display:block;" class="column content">
        <ul class="list-unstyled">
            <li>
                <input type="text">
            </li>
            <li>
                <input type="text">
            </li>
            <li>
                <input type="text">
            </li>
            <li>
                <input type="text">
            </li>
            <li>
                <input type="text">
            </li>
            <li>
                <input type="text">
            </li>
            <li>
                <input type="text">
            </li>
        </ul>
    </div>
</div>
-->
<!--
<div style="margin-top: 30px;" class="container">
    <a href="#" class="setcolor">
        <button style="float: right; margin-right: 350px;" id="myBtn" 
        class="button_luu_kh_vip button">Xóa khách hàng</button>
    </a>
    <a href="http://127.0.0.1:5500/Sua_KH_Vip.html" class="setcolor">
        <button style="float: right;" class="button_luu_kh_vip button">Sửa thông tin KH</button>
    </a>
    <a href="http://127.0.0.1:5500/QuanLy_KH_Vip.html" class="setcolor">
        <button class="button_them_kh_vip button">Quay lại</button>
    </a>
</div>
<script>
    function delete_info() {
        alert("Đã xóa thông tin khách hàng!");  
    }
</script>
-->

    <!-- modal_xac nhan -->
    <div id="myModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div style="margin: 50px 0px 50px;">
                    <h5 style="text-align: center;" class="modal-title">Bạn có chắc chắn muốn xóa khách hàng này?</h5>
                </div>                
                <div  class="modal-footer">
                    <a href="http://127.0.0.1:5500/QuanLy_KH_Vip.html">
                        <button type="button" class="btn btn-primary" onclick="delete_info()">Lưu thay đổi</button>
                    </a>  
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">  
        function delete_info(){  
            alert("Đã xóa thông tin khách hàng!");  
        }  
    </script>
    <script>
            // lấy phần Modal
        var modal = document.getElementById('myModal');
          
            // Lấy phần button mở Modal
        var btn = document.getElementById("myBtn");
          
            // Lấy phần span đóng Modal
        var span = document.getElementsByClassName("btn-secondary")[0];
          
            // Khi button được click thi mở Modal
        btn.onclick = function() {
            modal.style.display = "block";
            }
          
            // Khi span được click thì đóng Modal
        span.onclick = function() {
            modal.style.display = "none";
        }
          
            // Khi click ngoài Modal thì đóng Modal
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
-->
{{> footer}}
