<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/csvc.css">

{{>header}}

<div class="container-fluid my-4" style="width: 80%">
    <h2 class="my-4" style="color: red;">LỊCH SỬ CẬP NHẬT KHÁCH HÀNG VIP</h2>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
            <th style="width: 5%">#</th>
            <th style="width: 25%">Email</th>
            <th style="width: 20%">Số điện thoại</th>
            <th style="width: 38%">Thông tin cập nhật</th>
            <th style="width: 12%">Ngày cập nhật</th>
            </tr>
        </thead>
        <tbody>
            {{#each histories}}
            <tr>
            <th scope="row">{{@index}}</th>
            <td>{{this.khachhang.email}}</td>
            <td>{{this.khachhang.phoneNumber}}</td>
            <td>{{this.describe}}</td>
            <td>{{this.updateAt}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>
<a href="/admin/vip" style="text-decoration: none;">
    <div class="container-fluid btn-option mb-2" id="save" style="width: 10%">Quay lại</div>
</a>

{{> footer}}
