<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/csvc.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

{{>header}}
<div class="container-fluid" style="width: 80%">
    <h2 class="my-4" style="color: red;">QUẢN LÝ KHÁCH HÀNG VIP</h2>
    <div class="row mb-2" id="page1">
        <div class="col">
            <a href="/admin/vip/create" style="text-decoration: none;">
                <div class="container-fluid btn-option" id="back" style="width: 50%">Thêm khách hàng VIP</div>
            </a>
        </div>
        <div class="col">
            <a href="/admin/vip/history" style="text-decoration: none;">
            <div class="container-fluid btn-option" id="update" style="width: 40%">Lịch sử cập nhật</div>
            </a>
        </div>
    </div>
    
    <input class="form-control my-4" id="myInput" type="text" placeholder="Tìm kiếm">

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th style="width: 5%">#</th>
                <th style="width: 21%">Tên khách hàng</th>
                <th style="width: 15%">Số điện thoại</th>
                <th style="width: 17%">Email</th>
                <th style="width: 10%">Điểm</th>
                <th style="width: 24%">Ngày hết hạn</th>
                <th style="width: 8%"></th>
            
            </tr>
        </thead>
        <tbody id="myTable">
            {{#each vips}}
            <tr>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.phoneNumber}}</td>
                <td>{{this.email}}</td>
                <td>{{this.points}}</td>
                <td>{{this.expiryDateString}}</td>
                <td>
                    <a href="/admin/vip/{{this._id}}">
                        <span class="badge badge-success" style="width: 80%; height: 80%;">
                            <i class="ti-more" style="font-size: 16px;"></i>
                        </span>
                    </a>
                </td>
            
            </tr>
            {{/each}}
    </table>
</div>

<script>
    $(document).ready(function(){
    $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
    });
    });
</script>

{{>footer}}

