<link rel="stylesheet" href="/css/app.css">
<link rel="stylesheet" href="/css/csvc.css">

{{>header}}
<div class="container-fluid" style="width: 80%">
    <h2 class="my-4" style="color: red;">QUẢN LÝ KHÁCH HÀNG VIP</h2>
    <div class="row mb-2" id="page1">
        <div class="col">
            <a href="/admin/vip/create" style="text-decoration: none;">
                <div class="container-fluid btn-option" id="back" style="width: 50%">Thêm khách hàng VIP</div>
            </a>
        </div>
        <div class="col">
            <a href="/admin/vip/history" style="text-decoration: none;">
            <div class="container-fluid btn-option" id="update" style="width: 40%">Lịch sử cập nhật</div>
            </a>
        </div>
    </div>
    
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th style="width: 5%">#</th>
                <th style="width: 21%">Tên khách hàng</th>
                <th style="width: 15%">Số điện thoại</th>
                <th style="width: 17%">Email</th>
                <th style="width: 10%">Điểm</th>
                <th style="width: 24%">Ngày hết hạn</th>
                <th style="width: 8%"></th>
            
            </tr>
        </thead>
        <tbody>
            {{#each vips}}
            <tr>
                <th scope="row">{{@index}}</th>
                <td>{{this.name}}</td>
                <td>{{this.phoneNumber}}</td>
                <td>{{this.email}}</td>
                <td>{{this.points}}</td>
                <td>{{this.expiryDate}}</td>
                <td>
                    <a href="">
                        <span class="badge badge-success" style="width: 80%; height: 80%;">
                            <i class="ti-more" style="font-size: 16px;"></i>
                        </span>
                    </a>
                </td>
            
            </tr>
            {{/each}}
    </table>
</div>
{{>footer}}

