<link rel="stylesheet" href="/css/csvc.css">

<link rel="stylesheet" href="/css/dropdown.css">
<div class="header sticky-top" style="background-color: white;">
    <nav class="navbar navbar-light navbar-expand-lg">
        <div class="container">
            <a href="#">
                <img src="/img/logo.png" alt="logo" class="logo" onclick="location.href='/'">
            </a>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item px-2">
                        <a class="nav-link mt-3 mb-3" href="#carouselExampleSlidesOnly">Khu vui chơi</a>
                        <hr class="item-hover hide">
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link mt-3 mb-3" href="#info">Thông tin</a>
                        <hr class="item-hover hide">
                    </li>
                    <li class="nav-item px-2">
                        <a class="nav-link mt-3 mb-3" href="#order">Đặt vé online</a>
                        <hr class="item-hover hide">
                    </li>
                    <li class="nav-item px-2 dropdown">
                        <a class="nav-link mt-3 mb-3" href="#map">Bản đồ</a>
                        <hr class="item-hover hide">
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>

<link rel="stylesheet" href="/css/home.css">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="./img/Co-nen-du-lich-Bangkok-Thai-Lan-dip-giang-sinh-khong-Dream-World.jpg" alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="./img/khu-vui-choi-go-ecopark-05.jpg" alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100" src="./img/khu-vui-choi-phu-quoc11-min.jpg" alt="Third slide">
              </div>
            </div>
          </div>
        <div id="content">
            <div id="info" class="content-sections">
                <h2 class="section-heading">TINKERBELLGARDEN</h2>
                <h3 class="section-head">Thông tin và giới thiệu</h3>
                
                <div class="anhthanhvien">
                    <div class="member-item">
                        <img src="./img/khu-vui-choi-giai-tri-cho-tre-em-o-sai-gon.jpg" alt="" class="member-anh">
                        <button class="js-thongtinkvc thongtin">Thông tin khu vui chơi Kinderbellgarden</button>
                        <p class="thongtinkhuyenmai">Là một trong các khu vui chơi giải trí hàng đầu Việt Nam, Kinderbellgarden có diện tích rộng lớn và nhiều khu trò chơi cho các bé</p>
                    </div>
                    <div class="member-item">
                        <img src="./img/khu-vui-choi-kolorado.webp" alt="" class="member-anh2">
                        <button class="js-dkvip thongtin">Đăng kí VIP để nhận nhiều ưu đãi hấp dẫn</button>
                        <p class="thongtinkhuyenmai">Khi đến khu vui chơi, ba mẹ có thể đăng kí trở thành khách hàng VIP và nhận nhiều ưu đãi khi cho con đến tham gia vui chơi[...]</p>
                    </div>
                    <div class="member-item">
                        <img src="./img/Tet-124.jpg" alt="" class="member-anh3">
                        <button class="thongtin js-dipdacbiet">Khuyến mãi hấp dẫn vào các dịp đặc biệt</button>
                        <p class="thongtinkhuyenmai">Vào mỗi dịp đặc biệt, khu vui chơi TINKERBELLGARDEN đưa đến khuyến mãi hấp dẫn...[]</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

            <div id="order" class="tour-section">
                <div class="content-section">
                    <h2 class="section-heading text-white">ĐẶT VÉ ONLINE</h2>
                    <p class="section-motaheading text-white">Remember to book your tickets!</p>

                    {{#if hasEvent}}
                        <ul class="ticket-list">
                            <li>Số vé giảm giá sự kiện đặc biệt còn lại : {{sub event.numberOfDiscountCode event.currentNumofDiscountCode}} </li>
                        </ul>

                    {{else}}
                        <ul class="ticket-list">
                            <li>Số vé giảm giá sự kiện đặc biệt còn lại : 0 </li>
                        </ul>
                    
                    {{/if}}   


                <div class="row place-list">
                    <div class="col-6">
                        <img src="./img/khu-vui-choi-ha-noi-nemtv-12.jpg" alt="New York" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">Đặt vé online</h3>
                                <p class="place-time">Đăng kí đặt vé online ngay</p>
                                <button class="buybutton js-buy-ticket" >Buy Tickets</button>
                            </div>
                    </div>

                    {{#if hasEvent}}

                        <div class="col-6">
                            <img src="{{event.imageUrl}}" alt="New York" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">{{event.name}}</h3>
                                <p class="place-time">{{event.eventInfo}}</p>
                                <button id="buyBtn" class="buybutton js-buy-ticket-db" >Buy Tickets</button>
                                <p id="soldOutText" style="color: red; float: right; margin-right: 150px; margin-top: 25px"></p>
                            </div>
                        </div>

                    {{else}}

                        <div class="col-6">
                            <img src="{{event.imageUrl}}" alt="New York" class="place-img">
                            <div class="place-body">
                                <h3 class="place-heading">{{event.name}}</h3>
                                <p class="place-time">{{event.eventInfo}}</p>
                                <button id="buyBtn" class="buybutton js-buy-ticket-db" disabled>Buy Tickets</button>
                                <p id="soldOutText" style="color: red; float: right; margin-right: 100px; margin-top: 25px">Chưa có sự kiện</p>
                            </div>
                        </div>
                    
                    {{/if}}

                        <div class="clear"></div> 
                    </div>
                </div>
                
            </div>

            <div id="map" class="content-section">
                <h2 class="section-heading">Bản đồ</h2>
            </div>
        </div>

        <div class="map-section">
                <img src="./img/Screenshot 2022-01-12 171138.png" alt="Map">
            </div>

    
        <div class="modal js-model">
            <div class="modal-container js-modal-container">
                <div class="modal-close js-modal-close">
                    <i class="ti-close"></i>
                </div>

                <header class="modal-heading">
                     <i class="modal-heading-icon ti-bag"></i>
                     ĐẶT MUA VÉ ONLINE
                </header>

                <div class="modal-body">
                    <form method="post" action="/dangkyonline">
                        <label for="quantity" class="modal-label">
                            TÊN
                        </label>
                        <input id="quantity" type="text" class="modal-input" name="name" placeholder="Name" required>
    
                        <label for="quantity" class="modal-label">
                            Số điện thoại
                        </label>
                        <input id="quantity" type="text" class="modal-input" name="phoneNum" placeholder="PhoneNumber" required>
    
                        <label for="quantity" class="modal-label">
                            Email
                        </label>
                        <input id="quantity" type="email" class="modal-input" name="email" placeholder="Email">
    
                        <label for="quantity" class="modal-label">
                            Số vé chơi theo giờ (100.000đ/vé) (2 giờ chơi)
                        </label>
                        <input id="quantity" type="number" min="0" step="1" class="modal-input" name="numberOfTwoHoursTicket" placeholder="timeTicketNum" required>
    
                        <label for="quantity" class="modal-label">
                            Số vé Không giới hạn (200.000đ/vé)
                        </label>
                        <input id="quantity" type="number" min="0" step="1" class="modal-input" name="numberOfUnlimitedTicket" placeholder="noLimitTicketNum" required>

                        <input type="submit" id="buy-ticket" value="Đặt vé" >
                    </form>
                </div>
            </div>
        </div>

        <div class="modal js-model-db">

            <div class="modal-container js-modal-container-db">
                <div class="modal-close js-modal-close-db">
                    <i class="ti-close"></i>
                </div>

                <header class="modal-heading">
                     <i class="modal-heading-icon ti-bag"></i>
                     ĐẶT MUA VÉ SỰ KIỆN ĐẶC BIỆT
                </header>

                <div class="modal-body">
                    <form method="post" action="/dangkiskdb">
                        <label for="quantity" class="modal-label">
                            TÊN
                        </label>
                        <input id="quantity" type="text" class="modal-input" name="name" placeholder="Name" required>
    
                        <label for="quantity" class="modal-label">
                            Số điện thoại
                        </label>
                        <input id="quantity" type="text" class="modal-input" name="phoneNum" placeholder="PhoneNumber" required>
    
                        <label for="quantity" class="modal-label">
                            Email
                        </label>
                        <input id="quantity" type="email" class="modal-input" name="email" placeholder="Email">
    
                        <label for="quantity" class="modal-label">
                            Số vé chơi theo giờ (100.000đ/vé) (2 giờ chơi)
                        </label>
                        <input id="quantity" type="number" class="modal-input" name="numberOfTwoHoursTicket" placeholder="timeTicketNum" required>
    
                        <label for="quantity" class="modal-label">
                            Số vé Không giới hạn (200.000đ/vé)
                        </label>
                        <input id="quantity" type="number" class="modal-input" name="numberOfUnlimitedTicket" placeholder="noLimitTicketNum" required>
    
                        <input type="submit" id="buy-ticket" value="Đặt vé" >
                    </form>
                </div>
            </div>
        </div>

        <div class="thongtinkm js-thongtinkm">
            <div class="dkvip js-dkvip-container">
                <div class="dkvip-close js-dkvip-close">
                    <i class="ti-close"></i>
                </div>
                <header class="dkvip-header">
                    ƯU ĐÃI KHI TRỞ THÀNH VIP
                </header>
                <div class="gioithieuuudai">Chỉ với 400.000/năm, bố mẹ có thể đăng kí trở thành khách hàng VIP của chúng tôi và nhận được các ưu đãi hấp dẫn sau khi cho con đến tham gia khu vui chơi:</div>
                <div class="uudai">+ Giảm 20% giá vé vào cửa khu vui chơi với cả 2 loại vé: vé chơi theo ngày và vé chơi theo giờ</div>
                <div class="uudai">+ Giảm 20% giá các sản phẩm khi mua tại khu vui chơi: tượng, tranh cát,...</div>
                <div class="uudai">+ Tích điểm mỗi khi mua vé để nhận các ưu đãi giảm giá</div>
            </div>
        </div>

        <div class="ttdipdb js-dipdb">
            <div class="dkvip js-dipdb-container">
                <div class="dkvip-close js-dipdb-close">
                    <i class="ti-close"></i>
                </div>
                <header class="dkvip-header">ƯU ĐÃI KHI ĐẶT MUA VÉ SỰ KIỆN ĐẶC BIỆT</header>
                <div class="gioithieuuudai">Vào các dịp đặc biệt trong năm như Tết dương lịch, Tết Trung thu, Ngày quốc tế thiếu nhi,... khu vui chơi TINKERBELLGARDEN tổ chức các sự kiện đặc biệt hấp dẫn dành cho các bé.</div>
                <div class="gioithieuuudai">Đặc biệt, nếu các bậc phụ huynh đặt mua vé online các sự kiện đặc biệt sẽ được hưởng các ưu đãi hấp dẫn sau:</div>
                <div class="uudai">+ Giảm 20% giá vé vào cửa khu vui chơi với cả 2 loại vé: vé chơi theo ngày và vé chơi theo giờ</div>
                <div class="uudai">+ Quà lưu niệm khi đến tham gia khu vui chơi</div>
                <div class="uudai">Hãy nhanh tay vì trong mỗi sự kiện, chỉ 50 khách hàng đăng kí sớm nhất có thể nhận được ưu đãi</div>
            </div>
        </div>

        <div class="modal js-model-dbloi">

            <div class="modal-container js-modal-container-dbloi">
                <div class="modal-close js-modal-close-dbloi">
                    <i class="ti-close"></i>
                </div>

                <header class="modal-heading2">
                     THÔNG BÁO
                </header>
                <div class="modal-body2">
                    Đã hết mã giảm giá hoặc không có sự kiện đang diễn ra
                </div>
            </div>
        </div>
        
        <div class="ttkvc js-ttkvc">
            <div class="dkvip js-ttkvc-container">
                <div class="dkvip-close js-ttkvc-close">
                    <i class="ti-close"></i>
                </div>
                <header class="dkvip-header">Giới thiệu khu vui chơi</header>
                <div class="gioithieuuudai">Nằm ở trung tâm Hà Nội, khi vui chơi TINKERBELLGARDEN là địa điểm thu hút nhiều bậc phụ huynh cho con đến vui chơi</div>
                <div class="gioithieuuudai">Một số điểm nổi bật của khu vui chơi :</div>
                <div class="uudai"> + Được chia thành nhiều khu trò chơi riêng biệt: khu đua xe, khu trượt tuyết, khu bắn súng...</div>
                <div class="uudai"> + Có bể bơi rộng và các trò chơi dưới nước cho các bé </div>
                <div class="uudai"> + Cơ sở vật chất được kiểm tra thường xuyên, luôn đảm bảo an toàn và chất lượng</div> 
            </div>
        </div>

        <script>
            let buyBtn = document.getElementById('buyBtn')
            let soldOutText = document.getElementById('soldOutText')
            let hasEvent = `{{hasEvent}}`

            if({{sub event.numberOfDiscountCode event.currentNumofDiscountCode}} <= 0 && hasEvent === 'true') {
                buyBtn.disabled = true
                soldOutText.innerHTML = 'Hết vé'
            } 


            if ({{sub event.numberOfDiscountCode event.currentNumofDiscountCode}} > 0){
                const buyBtndb = document.querySelector('.js-buy-ticket-db')
                const modaldb = document.querySelector('.js-model-db')
                const modalcontainerdb = document.querySelector('.js-modal-container-db')
                const modalclosedb = document.querySelector('.js-modal-close-db')
                function showbuyticketdb(){
                    modaldb.classList.add('open')
                }
                function hidebuyticketdb(){
                    modaldb.classList.remove('open')
                } 
                buyBtndb.addEventListener('click', showbuyticketdb)
                modalclosedb.addEventListener('click', hidebuyticketdb)
                modaldb.addEventListener('click', hidebuyticketdb)
                modalcontainerdb.addEventListener('click', function(event){
                    event.stopPropagation()
                })
            }
            else {
                const buyBtndb = document.querySelector('.js-buy-ticket-db')
                const modaldbloi = document.querySelector('.js-model-dbloi')
                const modalcontainerdbloi = document.querySelector('.js-modal-container-dbloi')
                const modalclosedbloi = document.querySelector('.js-modal-close-dbloi')
                function showbuyticketdbloi(){
                    modaldbloi.classList.add('open')
                }
                function hidebuyticketdbloi(){
                    modaldbloi.classList.remove('open')
                } 
                buyBtndb.addEventListener('click', showbuyticketdbloi)
                modalclosedbloi.addEventListener('click', hidebuyticketdbloi)
                modaldbloi.addEventListener('click', hidebuyticketdbloi)
                modalcontainerdbloi.addEventListener('click', function(event){
                    event.stopPropagation()
                })
            }  
            
            const buyBtns = document.querySelectorAll('.js-buy-ticket')
            const modal = document.querySelector('.js-model')
            const modalcontainer = document.querySelector('.js-modal-container')
            const modalclose = document.querySelector('.js-modal-close')
            {{!-- const buyBtndb = document.querySelector('.js-buy-ticket-db')
            const modaldb = document.querySelector('.js-model-db')
            const modalcontainerdb = document.querySelector('.js-modal-container-db')
            const modalclosedb = document.querySelector('.js-modal-close-db') --}}
            const dkvip = document.querySelector('.js-dkvip')
            const thongtinkm = document.querySelector('.js-thongtinkm')
            const dkvipclose = document.querySelector('.js-dkvip-close')
            const dkvipcontainer = document.querySelector('.js-dkvip-container')
            const dipdacbietbtn = document.querySelector('.js-dipdacbiet')
            const dipdb = document.querySelector('.js-dipdb')
            const dipdbcontainer = document.querySelector('.js-dipdb-container')
            const dipdbclose = document.querySelector('.js-dipdb-close')
            const thongtinkvc = document.querySelector('.js-thongtinkvc')
            const ttkvc = document.querySelector('.js-ttkvc')
            const ttkvccontainer = document.querySelector('.js-ttkvc-container')
            const ttkvcclose = document.querySelector('.js-ttkvc-close')
            function showttkvc(){
                ttkvc.classList.add('open')
            }
            function hidettkvc(){
                ttkvc.classList.remove('open')
            }
            function showdkvip(){
                thongtinkm.classList.add('open')
            }
            function hidedkvip(){
                thongtinkm.classList.remove('open')
            }
            function showbuyticket(){
                modal.classList.add('open')
            }
            function hidebuyticket(){
                modal.classList.remove('open')
            }
            
            {{!-- function showbuyticketdb(){
                modaldb.classList.add('open')
            }
            function hidebuyticketdb(){
                modaldb.classList.remove('open')
            }  --}}
            function showdipdb(){
                dipdb.classList.add('open')
            }
            function hidedipdb(){
                dipdb.classList.remove('open')
            }
            for(const buyBtn of buyBtns) {
                buyBtn.addEventListener('click', showbuyticket)
            }
            dkvip.addEventListener('click',showdkvip)
            dkvipclose.addEventListener('click',hidedkvip)
            thongtinkm.addEventListener('click', hidedkvip)
            dipdacbietbtn.addEventListener('click',showdipdb)
            dipdbclose.addEventListener('click', hidedipdb)
            dipdb.addEventListener('click',hidedipdb)
            modalclose.addEventListener('click', hidebuyticket)
            modal.addEventListener('click', hidebuyticket)
            {{!-- buyBtndb.addEventListener('click', showbuyticketdb)
            modalclosedb.addEventListener('click', hidebuyticketdb)
            modaldb.addEventListener('click', hidebuyticketdb) --}}
            thongtinkvc.addEventListener('click', showttkvc)
            ttkvcclose.addEventListener('click', hidettkvc)
            ttkvc.addEventListener('click', hidettkvc)
            modalcontainer.addEventListener('click', function(event){
                event.stopPropagation()
            })
            {{!-- modalcontainerdb.addEventListener('click', function(event){
                event.stopPropagation()
            }) --}}
            
            dipdbcontainer.addEventListener('click', function(event){
                event.stopPropagation()
            })
            dkvipcontainer.addEventListener('click', function (event){
                event.stopPropagation()
            })
            ttkvccontainer.addEventListener('click', function (event){
                event.stopPropagation()
            })
            
        </script>

{{> footer}}

{{#if error}}
    <div class="my-modal">
        <div class="modal__inner sticky-top">
            <div class="modal__header">
                <h5>Tinker Bell Garden</h5>
                <i class="fas fa-times"></i>
            </div>
            <div class="modal__body">
                <p style="text-align: center; color: red;">{{{errorMessage}}}</p>
            </div>
            <div class="modal__footer">
                <a href="/" style="text-decoration: none;">
                    <button>Trở lại</button>
                </a>
            </div>
        </div>
    </div>
{{/if}}